h3 {
    text-align: center;
    color: purple;
    font-weight: 600;
    font-size: 40px;
}

.blog {
    border: 5px solid tomato;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

img {
    width: 700px;
}

.img {

    text-align: center;
}